*{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width:743px) and (min-width: 360px){
  .container-cliente-info{
    background-color: #EDEDED;
    height: 85vh;
  }
  
  .opcao-perfil{
    display: flex;
    flex-direction: column;
    width: 355px;
    margin: 0 auto;
  }
  
  .perfil{
    width: 355px;
    height: 110px;
    margin: 0 auto;
    background-image:url('../../assets/imgInfoCardPerfil.png') ;
  }
  .bicicleta{
    margin-top: 30px;
    width: 355px;
    height: 110px;
    background-image:url('../../assets/imgInfoCardBicicleta.png') ;
  
  }

  .volta-processo{
    width: 355px;
    height: 110px;
    margin: 30px auto 0;
    background-image:url('../../assets/imgVoltarProcesso1.png') ;
  
  }
  
  .caixa-rotulos{
    width: 100px;
    margin: 45px 175px;
  }

  .caixa-rotulos3{
    width: 150px;
    margin: 45px 180px;
    padding-bottom: 50px;
  }
  
  .rotulos, .rotulos-2{
    font-size: 20px;
    margin: 0px auto 0px;
    padding-top: 45px;
    font-family: 'Poppins', sans-serif;
  }

}

@media only screen and (min-width: 744px) and (max-width:799px){
.container-cliente-info{
  background-color: #EDEDED;
  height: 100vh;
}

.opcao-perfil{
  display: flex;
  flex-direction: column;
  width: 655px;
  margin: 0 auto;
}

.perfil{
  width: 600px;
  height: 190px;
  margin: 0 auto;
  background-image:url('../../assets/imgInfoCardPerfilT.png') ;
}
.bicicleta{
  width: 600px;
  height: 190px;
  margin: 30px auto 0;
  background-image:url('../../assets/imgInfoCardBicicletaT.png') ;

}

.volta-processo{
  width: 600px;
  height: 190px;
  margin: 30px auto 0;
  background-image:url('../../assets/imgVoltarProcessoT.png') ;

}

.caixa-rotulos{
  width: 200px;
  margin: 85px 290px;
}

.caixa-rotulos3{
  width: 200px;
  margin: 75px 300px;
}

.rotulos{
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  padding-top: 80px;
}

.rotulos-2{
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  padding-top: 70px;
}

}

@media only screen and (min-width: 800px) and (max-width:834px){
  .container-cliente-info{
    background-color: #EDEDED;
    height: 90vh;
  }
  
  .opcao-perfil{
    display: flex;
    flex-direction: column;
    width: 655px;
    margin: 0 auto;
  }
  
  .perfil{
    width: 600px;
    height: 190px;
    margin: 0 auto;
    background-image:url('../../assets/imgInfoCardPerfilT.png') ;
  }
  .bicicleta{
    width: 600px;
    height: 190px;
    margin: 30px auto 0;
    background-image:url('../../assets/imgInfoCardBicicletaT.png') ;
  
  }

  .volta-processo{
    width: 600px;
    height: 190px;
    margin: 30px auto 0;
    background-image:url('../../assets/imgVoltarProcessoT.png') ;
  
  }
  
  .caixa-rotulos{
    width: 200px;
    margin: 85px 290px;
  }

  .caixa-rotulos3{
    width: 200px;
    margin: 75px 300px;
  }
  
  .rotulos{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;

  }

  .rotulos-2{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
  }
}

@media only screen and (min-width: 835px) and (max-width: 850px){
  .container-cliente-info{
    background-color: #EDEDED;
    height: 90vh;
  }
  
  .opcao-perfil{
    display: flex;
    flex-direction: column;
    width: 655px;
    margin: 0 auto;
    padding-top: 60px;
  }
  
  .perfil{
    width: 600px;
    height: 190px;
    margin: 0 auto;
    background-image:url('../../assets/imgInfoCardPerfilT.png') ;
  }
  .bicicleta{
    width: 600px;
    height: 190px;
    margin: 30px auto 0;
    background-image:url('../../assets/imgInfoCardBicicletaT.png') ;
  
  }
  
  .caixa-rotulos{
    width: 200px;
    margin: 85px 290px;
  }

  .caixa-rotulos3{
    width: 200px;
    margin: 75px 300px;
  }
  
  .rotulos{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
  }

  .rotulos-2{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
  }  
}

@media only screen and (min-width: 851px){
 .container-cliente-info{
  display: none;
 }
}



