*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width:743px) and (min-width: 360px){
  .div-container-bot{
    background-color: #EDEDED;
    height: 90.8vh;
  }

  .back-carrossel-bot{
    display: flex;
    justify-content: center;
   padding-top: 460px;
  }

  .container-slider-bot p{
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 744px) and (max-width:799px){
  .div-container-bot{
    background-color: #EDEDED;
    height: 90.8vh;
  }

  .back-carrossel-bot{
    display: flex;
    justify-content: center;
   padding-top: 660px;
  }

  .container-slider-bot p{
    font-size: 25px;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) and (max-width:833px){
  .div-container-bot{
    background-color: #EDEDED;
    height: 90.8vh;
  }

  .back-carrossel-bot{
    display: flex;
    justify-content: center;
   padding-top: 860px;
  }

  .container-slider-bot p{
    font-size: 25px;
    text-align: center;
  }
}

@media only screen and (min-width: 834px) and (max-width: 850px){
  .div-container-bot{
    background-color: #EDEDED;
    height: 90.8vh;
  }

  .back-carrossel-bot{
    display: flex;
    justify-content: center;
   padding-top: 660px;
  }

  .container-slider p{
    font-size: 25px;
    text-align: center;
  }
}

@media only screen and (min-width: 851px){
  .div-container-bot{
    display: none;
  }
}