*{
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 360px) and (max-width:743px) {
    .container-cliente{
        background-color: #003146;
        height: 200vh;
        
    }
    
    .foto-bike{
        background: white;
        width: 340px;
        height: 468px;
        margin: 0 auto;
    }
    
    .foto-bike-final{
        background-image: url('../../assets/bgFormsPessoal.png');
        width: 340px;
        height: 468px;
        margin: 30px auto 0;
        border-radius: 20px;
    }
    
    .ft-bike-esquerda{
        width: 300px;
        margin: 0px auto;;
        color: #3C95BC;
        padding-top:10px ;
    }
    
    
    
    .ft-bike-direita {
        width: 300px;
        margin: 50px auto;
        color: #3C95BC;
    }
    
    .bk-direita, .bk-esquerda{
        width: 280px;
        margin: 10px auto;
    }
    
    .bk-ft-tras{
        margin-left: 27px;
    }
    
    .bk-ft-frente{
        margin-left: 15px;
    }
    
  /*   h3{
        margin: 0 auto 20px;
        width: 281px;
    } */
    
    
    
    .form-ft-bk{
        margin: 0 auto;
        width: 300px;
        height: 36px;
        margin-top: 20px;
        border: 1px solid #BEDDEB;
        border-radius: 20px;
    }
    
    .conteudo-ft input {
        width: 119px;
        margin: 7.5px 90px;
    }
    
    .conteudo-ft{
        background-color: white;
        border-radius: 20px;
        width: 340px;
        margin: auto;
    }
    
}

@media only screen and (min-width: 744px) and (max-width:799px){
    .container-cliente{
        background-color: #003146;
        min-height: 100vh;
        
    }
    
    .foto-bike{
        background: white;
        width: 643px;
        /* height: 468px; */
        margin: 0 auto;
    }
    
    .foto-bike-final{
        background-image: url('../../assets/bgFormPessoalT.png');
        width: 100%;
        height: 675px;
        margin: 30px auto 0;
        border-radius: 20px;
    }
    
    .ft-bike-esquerda{
        width: 600px;
        margin: 0px auto;;
        color: #3C95BC;
        padding-top:10px ;
        border: 1px solid rgb(181, 56, 56);
    }
    
    
    
    .ft-bike-direita {
        width: 600px;
        margin: 50px auto;
        color: #3C95BC;
        border: 1px solid rgb(181, 43, 43);
    }
    
    .bk-direita, .bk-esquerda{
        width: 380px;
        margin: 10px auto;
        border: 1px solid rgb(77, 170, 71);
    }
    
    .bk-ft-tras{
        margin: 0 0 7px 0;
        border: 1px solid rgb(224, 127, 29);
    }
    
    .bk-ft-frente{
        margin: 0 0 7px 0;
        margin-left: 15px;
        border: 1px solid rgb(174, 179, 17);
    }
    
    /* h3{
        margin: 0 auto 20px;
        width: 381px;
        font-size: 24px;
    }
     */
    
    
    .form-ft-bk{
        margin: 0 auto;
        width: 400px;
        height: 36px;
        margin-top: 20px;
        border: 1px solid #BEDDEB;
        border-radius: 20px;
        border: 1px solid black;

    }
    
    .conteudo-ft input {
    
        width: 119px;
        margin: 7.5px 90px;
    }
    
    .conteudo-ft{
        background-color: white;
        border-radius: 20px;
        width: 643px;
        margin: auto;
    }
}

@media only screen and (min-width: 800px) and (max-width:834px){

}

@media only screen and (min-width: 835px) and (max-width: 854px){

}

@media only screen and (min-width: 855px){
    .container-cliente{
        display: none;
    }
}