*{
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 360px) and (max-width:743px){
  .div-group2{
    background-color: #003D57;
    display: flex;
    justify-content: center;
    height: 42px;
  }

  .bolved1{
    width:86px;
    height: 36px;
    margin-top: 2px;
  }

  .group2{
      width:270px;
      margin-top: 2px;
      height: 36px;
  }
}

@media only screen and (min-width: 744px) and (max-width:799px){
  .div-group2{
    background-color: #003D57;
    display: flex;
    justify-content: center;
    height: 70px;
  }
  
  .bolved1{
      width:145px;
      height: 60px;
      margin-top: 4px;
  }

    .group2{
      width:495px;
      height: 60px;
      margin-top: 4px;
        
    }
}


@media only screen and (min-width: 800px) and (max-width:834px){
  .div-group2{
    background-color: #003D57;
    display: flex;
    justify-content: center;
    height: 70px;
  }
  
  .bolved1{
      width:145px;
      height: 60px;
      margin-top: 4px;
  }

    .group2{
      width:495px;
      height: 60px;
      margin-top: 4px;
        
    }
}

@media only screen and (min-width: 835px) and (max-width: 854px){
  .div-group2{
    background-color: #003D57;
    display: flex;
    justify-content: center;
    height: 70px;
  }
  
  .bolved1{
      width:145px;
      height: 60px;
      margin-top: 4px;
  }

    .group2{
      width:495px;
      height: 60px;
      margin-top: 4px;
        
    }
}

@media only screen and (min-width: 855px){
  .div-group2{
    display: none;
  }
}