*{
  margin: 0;
  padding: 0;
}

.bolinhas-progreesso{
  width: 100%;
  height: 50px;
  background-color: aqua;
  position: fixed;
}

.div1{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.div1:active{
  background-color: blue;
  color: #fff;
}

@media only screen and (min-width: 1000px){
  .bolinhas-progreesso{
    display: none;
  }
}